<div
  class="container d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h1>Cadastro de Clientes</h1>
  <div class="menu-box p-4 border border-dark rounded">
    <button class="btn btn-primary mb-3 w-100" (click)="irPara('lista')">
      Listar Todos os Clientes
    </button>

    <button class="btn btn-success mb-3 w-100" (click)="irPara('consultaId')">
      Consultar Cliente por Id
    </button>

    <button class="btn btn-warning w-100" (click)="irPara('novo')">
      Cadastrar Novo Cliente
    </button>
  </div>
</div>
